*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
h1{
   /* encabesado */ 
   display: flex ;
   width: 100% 5vb;
   text-align: center;
   align-items: center;
   justify-content: center;
   padding: 0%;
   color: #FFFFFF;
   margin: 0% -5%;
   font-size: 40px;
   background-color: #BF0B0B ;
 }
 h2{
  /* encabesado */ 
 text-align: center;
 color: #FFFFFF;
  font-size: 40px;
margin: 3% 0%;
background-color: #D40F0F;

}
 
 a{
  margin: 1%  1.5%;
  text-decoration:none;
  text-align: center;
  font-style: arial;
  float:center;
  font-size: 15px;
  line-height: 20px;
  color:#FFFFFF;
  
  }
 
  
   .menu{  
   display: flex ;
   width: 100% 5vb;
   text-decoration:none;
   text-align: center;
   align-items: center;
   justify-content: center;
 
background-color: #D40F0F;

    } 
  
 
 .fondo{
   width: 100%;
   background-repeat: no-repeat;
   background: center;
   padding: 0%;

    }

     
    .sociales{
    margin:-7% 1%;
    text-align:right;
  }
    
  .pie{
    font-size: 30;

  }
  
 body{
  width: 100%;
  height:  80vb;
 /* 
  background-image: url('iconos/fondo12.png');
*/ 
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;

  }

 
 
  
   
    .btn.btn.btn-warning:hover{
      background-color: #008080;
     
       }
       
       .imgf{
       width: 300px;
       margin: 10%  10%;
       
         }
      
      .logo{
        margin: 4.4% 0%;
        width: 120px;

       }
      
      .animacion{
        width:200%;
        height:100%;
        text-align: right;
     }

   

     h1 {
      text-align: center;
    }
    #carrusel-caja {
      -moz-animation: automatizacion 15s infinite linear;
      -o-animation: automatizacion 15s infinite linear;
      -webkit-animation: automatizacion 15s infinite linear;
      animation: automatizacion 40s infinite linear;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      transition: all 0.75s ease;
      height: 500px;
      width: 300%;
    }
    #carrusel-contenido {
      margin: -4.3%auto;
      overflow: hidden;
     
     
    }
    .imagenes{
      width: 100%;
      height: 100%;
    
               
      }
    .carrusel-elemento {
      float: left;
      width: 33.333%;
    }
    @-moz-keyframes automatizacion {
      0% {
          margin-left: 0;
      }
      30% {
          margin-left: 0;
      }
      35% {
          margin-left: -100%;
      }
      65% {
          margin-left: -100%;
      }
      70% {
          margin-left: -200%;
      }
      95% {
          margin-left: -200%;
      }
      100% {
          margin-left: 0;
      }
    }
    @-webkit-keyframes automatizacion {
      0% {
          margin-left: 0;
      }
      30% {
          margin-left: 0;
      }
      35% {
          margin-left: -100%;
      }
      65% {
          margin-left: -100%;
      }
      70% {
          margin-left: -200%;
      }
      95% {
          margin-left: -200%;
      }
      100% {
          margin-left: 0;
      }
    }
    @keyframes automatizacion {
      0% {
          margin-left: 0;
      }
      30% {
          margin-left: 0;
      }
      35% {
          margin-left: -100%;
      }
      65% {
          margin-left: -100%;
      }
      70% {
          margin-left: -200%;
      }
      95% {
          margin-left: -200%;
      }
      100% {
          margin-left: 0;
      }
    }

    


    